
body{
    background-color: rgb(19, 19, 41);
}
.container{
    display: flex;
    justify-content: space-around;
    color:white;
}
#home,#guest{
    font-weight: bolder;
    font-size: 12rem;
    width: 250px;
    height: 250px;
    background-color: black;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h1{
    font-size: 5rem;
    font-weight: bolder;
}
button{
    width: 40px;
}
.btn{
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-family: 'myfont',Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}